@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jacquard+12&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

*,
*::before,
*::after {
  width: 100%;
    box-sizing: border-box;
}
.container {
  position: relative;
  background-color: black;
}

.toolbar {
  width: 100%;
  display: block;
}

.toolbar-content {
  width: 100%;
  height: 50px;
  color: rgb(255, 255, 255);
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-item {
  padding: 4em;
}

.right-item {
  display: flex;
  padding: 1em;
}

.right-item p {
  padding: .4em;
}

.clic {
  cursor: pointer;
}

.line {
  position: relative;
  height: 5px;
  background: linear-gradient(to right,#1a0b52 1%, #0d10b8 50%, #1a0b52 100%);
  overflow: hidden;
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 1%,
    rgba(79, 120, 197, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


.top {
  height: 400px;
  background: linear-gradient(45deg, #0d0d3a 10%, #000000 100%);
}


.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 100px;
  font-family: Arial;
  text-align: left;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}

.wave {
  width: 100%;
  height: 200px;
  /* z-index: -1; */
}

.wave-color {
  background: linear-gradient(30deg, rgb(18, 18, 75) 10%, rgb(3, 3, 24) 100%);
}

.wave-color2 {
  position: relative;
  top: -20px;
  background-color: white;
}

.middle {
  position: relative;
  top: -10px;
  height: 450px;
  background-color: #ffffff;
}

.content-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  font-family: Arial;
  text-align: left;
  font-size: 1.5em;
}

.button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

.button-green {
  background-color: green;
}

.button-green:hover {
  background-color: darkgreen;
}

.button-blue {
  background-color: blue;
}

.button-blue:hover {
  background-color: darkblue;
}

.botton {
  background: #000000;
  height: 400px;
}

.content-botton {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: flex-end;
}

.face {
  width: 200px;
  height: 300px;
}

.contact-logo {
  height: 4em;
  width: 4em;
}








.scroll-container {
  width: 100%;
  overflow-x: auto; 
  white-space: nowrap;
}

.scroll-content {
  display: inline-block;
  transition: transform 0.3s ease;
}

.scroll-content img {
  width: auto; 
  height: auto; 
  margin-right: 20px; 
}
